<!-- Service Content-->
<main>
    <div>
      <h2>General Programming</h2>
        <p>
            I specialize in a wide range of programming languages and offer expertise in various
            areas of software development. With my skills and experience, I can provide high-quality solutions tailored to meet your 
            specific needs. 
        </p>

        <p>Such as:
            <ul>
                <li>C#</li>
                <li>Python</li>
                <li>Java</li>
            </ul>
        </p>

        <p>
            My expertise lies in developing scalable and robust software solutions. I have a deep understanding of software architecture, 
            database design, and API integration. I follow industry best practices and stay updated with the latest technologies to
            ensure that my clients receive cutting-edge solutions.
        </p>

      <p>By choosing my programming services, you can expect:
        <ol>
            <li>Customized Solutions: I will work closely with you to understand your requirements and create tailored solutions that 
                align with your business goals.
            </li>

            <li>
                Clean and Maintainable Code: I believe in writing clean, modular, and well-documented code that is easy to understand and
                maintain, ensuring long-term stability and scalability.
            </li>

            <li>
                Timely Delivery: I value your time and strive to deliver projects within the agreed-upon timelines without compromising on quality.
            </li>

            <li>Effective Communication: I believe in open and transparent communication throughout the development process. I will keep you informed about the progress of your project 
                and promptly address any concerns or queries you may have.
            </li>

            <li>Post-Development Support: I provide comprehensive post-development support, including bug fixes, updates, and maintenance, to ensure the smooth operation of your software.</li>

        </ol>

        <p>
            I am passionate about programming and dedicated to delivering exceptional results. Whether you are a startup, small business, or enterprise, I am committed 
            to helping you achieve your goals through reliable and efficient software solutions.
        </p>
       

        <img class = "services" src ="/Assests/images/csharp.jpg">
      
    </div>
    
    <div>
      <h2>Web Development</h2>
         
        <p>
            I specialize in website coding, leveraging my expertise in HTML, CSS, JavaScript, and Node.js to create engaging and 
            user-friendly web experiences. With a solid foundation in these technologies, 
            I have the ability to bring designs to life and build functional websites from scratch.
        </p>

        <p>
            Using HTML, I craft the structure and layout of web pages, ensuring proper organization and semantic markup. I have a deep 
            understanding of HTML5 and its latest features, allowing me to create modern and accessible web content that adheres to industry best practices.
        </p>

        <p>
            To enhance the visual appeal and styling of websites, I employ CSS. By utilizing CSS3 properties and techniques, I create responsive
            designs, implement beautiful typography, and add captivating animations and transitions. I pay attention to detail to ensure a 
            seamless and visually appealing user experience across different devices and screen sizes.
        </p>

        <p>
            JavaScript is a powerful tool in my arsenal, enabling me to add interactivity and dynamic functionality to websites. 
            I am proficient in vanilla JavaScript and utilize it to create interactive elements, handle user input, perform form validation, 
            and make asynchronous requests to servers. I strive to write clean and efficient code, ensuring optimal performance and maintainability.
        </p>

        <p>
            In addition to client-side coding, I have a basic understanding of Node.js, a JavaScript runtime environment. With Node.js, 
            I can build server-side applications, handle server-side rendering, and develop robust back-end functionality. While my expertise 
            in Node.js is limited, I am continuously expanding my knowledge and exploring its capabilities to enhance my web development skills.
        </p>
        
        <p>
            Throughout my projects, I prioritize the principles of responsive design, cross-browser compatibility, and accessibility. 
            I aim to create websites that are not only visually appealing but also user-friendly and accessible to all users, including those with disabilities.
        </p>

        <p>
            I am passionate about staying up to date with the latest trends and best practices in web development. I actively seek 
            opportunities to learn and grow, exploring new libraries, frameworks, and tools to enhance my coding capabilities. I am a 
            quick learner and adapt quickly to new technologies, allowing me to deliver modern and innovative web solutions.
        </p>

        <p>
            In summary, my expertise in HTML, CSS, JavaScript, and my basic knowledge of Node.js empowers me to create 
            visually appealing, interactive, and functional websites. With a commitment to continuous learning and a passion for web 
            development, I am well-equipped to take on website coding projects, translating designs into captivating online experiences.
        </p>
      
    </div>
        <img class = "services" src ="/Assests/images/website.jpg">
    <div>
      <h2>Precision Machining</h2>
      
      <p>
        I possess exceptional skills and expertise in machining, honed through my experience at the biomedical company. 
        With a strong foundation in Computer Numerical Control (CNC) operations, I have demonstrated a remarkable ability to deliver precise and high-quality results.
      </p>

      <p>
        Using advanced CNC machinery, including the MDA Precision CNC Mill and SmartCNC, I have successfully micro-milled 
        prototypes for microfluidics, working with a diverse range of materials such as acrylic, polycarbonate, cyclic olefin copolymer, 
        PET PTFE Blend, and aluminum parts. My keen eye for detail and precise execution have consistently resulted in the 
        production of intricate and accurate components.
      </p>

      <p>
        One of my key strengths lies in programming and optimizing CNC operations. Leveraging my deep understanding of CAD and CAM software,
        including HSMworks and EspirtCAM, I have developed efficient tool paths and meticulously adjusted parameters to achieve optimal 
        production outcomes. I am adept at manually editing G-codes and optimizing tool paths, 
        ensuring the highest level of precision and efficiency in the manufacturing process.
      </p>
    
      <p>
        I am highly proficient in SolidWorks, utilizing this powerful software to create intricate 3D models and assemblies.
        Working closely with the engineering team, I have contributed to the design and modification of prototypes, providing valuable 
        insights and executing changes with precision and attention to detail. My ability to efficiently execute 
        CAD and CAM tasks on the spot has been instrumental in meeting project deadlines and delivering exceptional results.
      </p>

      <p>
        In addition to my expertise in CNC machining, I have a comprehensive understanding of various machining tools and techniques. 
        I have operated equipment such as the Universal Laser Cutter with AutoCAD, producing precise components for biomedical devices. 
        I have also utilized bandsaws, drill presses, and specialized measurement instruments like vernier calipers, micrometers, dial 
        indicators, and height gauges. My proficiency in these tools allows me to ensure the accurate production of parts according to precise specifications.
      </p>

      <p>
        Beyond technical skills, I bring a strong problem-solving mindset to my work. I am proactive in identifying and resolving 
        challenges that arise during the machining process, ensuring smooth operations and minimizing disruptions. My ability to adapt
        to changing requirements and quickly adjust machining strategies has been highly valued in achieving optimal outcomes.
      </p>

       <p>
        Throughout my career, I have consistently exhibited a meticulous approach to work and a commitment to delivering excellence.
        I am known for my ability to manage tasks efficiently, prioritize work effectively, and maintain a keen attention to detail 
        in every aspect of machining. My dedication to quality control, combined with my exceptional technical skills, has enabled me to consistently produce superior results.
       </p>

       <p>
        In summary, my extensive experience in machining, coupled with my proficiency in CNC operations, CAD/CAM software, and 
        precision measurement, positions me as a highly skilled and reliable professional in the field. I am confident in my ability to 
        contribute to future machining projects and exceed expectations with my expertise and commitment to excellence.
       </p>
    </div>
    <img class = "services" src ="/Assests/images/milling.jpg">
  </main>
  