<div>        
    <img class="me" src="/Assests/images/IMG_8691.jpg" alt="Me">
</div>
  
<main>
    <h2>Nelson Hong Le</h2>
    <p>
        Hello, I'm Nelson Hong Le, a highly motivated and skilled web developer with a passion for creating innovative 
        and user-friendly websites. With 2 years of experience in the industry, I have developed expertise in front-end 
        and back-end development, as well as proficiency in various programming languages and frameworks.
    </p>

    <p>
        In addition to my web development background, I have gained valuable experience in the field of Computer Numerical Control (CNC) 
        during my time at a biomedical company. I utilized advanced CNC mills such as the MDA Precision CNC Mill (Model: V8-TC8 with 
        MotusCAM software based on Linux) and the SmartCNC (Model: SM1050 with a Fanuc Controller) to micro-mill prototypes for 
        microfluidics using various materials like acrylic, polycarbonate, cyclic olefin copolymer, PET PTFE Blend (PET TF), and aluminum parts. 
    </p>

    <p>
        Furthermore, I have extensive experience in programming languages such as C#, Java, JavaScript, HTML, CSS, and Python. 
        I have leveraged C# for building robust and scalable applications, Java for developing enterprise-level solutions, JavaScript 
        for creating interactive and dynamic web elements, HTML and CSS for designing and structuring web pages, and Python for data manipulation and scripting tasks. 
    </p>

    <p>
        During my time at the company, I utilized these programming languages to develop software solutions that integrated with 
        CNC machines and streamlined production processes. I implemented functionality, optimized performance, and 
        ensured compatibility across different platforms using my strong command over these languages.
    </p>

    <p>
        I possess strong problem-solving skills and demonstrated the ability to efficiently execute tasks in 
        C#, Java, JavaScript, HTML, CSS, Node.js, MongoDB and Python. I have utilized them in conjunction with frameworks and 
        libraries to create responsive and visually appealing websites. My comprehensive understanding of front-end and 
        back-end development allows me to deliver seamless user experiences and implement robust functionality.
    </p>

    <p>
        Overall, I bring a diverse set of skills and experiences to the table, including laser cutting, drill press operation, 
        band saw operation, CNC programming, machining, programming in C#, Java, JavaScript, HTML, CSS, and Python, and expertise 
        in SolidWorks. I am excited to leverage these skills and contribute to the success of future projects and teams.
    </p>
    <p>
         You can download a PDF version of my resume <a href="your_resume.pdf" target="_blank">here</a>.
    </p>
</main>