/* General */
body {
    font-family: Arial, sans-serif;
    background-color:  #F5F5DC;
  
    
  }
  
  
  main {
    padding: 20px;
  }

  .mission-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 20px;
  }

/* Contacts */



/* Set box-sizing to border-box */
* {
  box-sizing: border-box;
}


main {
  padding: 20px;
}

.contact-panel {
  margin-top: 20px;
}

.contact-panel p {
  margin-bottom: 10px;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #666;
}




/* Images */

img.me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
 
}

img.smallimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
 
}

img.services{
  width: 300px;
  margin-bottom: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}